output/

**.bak
*.local.*
!**/README.md
.kitchen/

*.nupkg
*.suo
*.user
*.coverage
.vs
.psproj
.sln
markdownissues.txt
node_modules
package-lock.json

# .NET Build outputs
bin/
obj/
*.dll
*.pdb
*.exe

# .NET Core
project.lock.json
project.fragment.lock.json

# Build results
[Dd]ebug/
[Rr]elease/
